<h3><i class="fas fa-chess"></i> </h3>
<div class="section">
    <p class="lead">This is a cool app</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>