.body-login-page {
    background:rgb(223, 77, 24);
    max-width: 100%;
    min-width: 400px;
    min-height: 100%;
}
p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}